
    <h1><%= @title %></h1>
    <p>
    This is the <%= @title %> page.
		<h2>Our Services</h2>
		<h2>Conditional Use of our Site and Services</h2>
			<h3>Your account and DealOnTheWay profile</h3>
			<h3>Non-Confidentiality, Security and Privacy</h3>
			<h3>Rules Regarding Information and other Content</h3>
			<h3>General rules of user conduct</h3>
			<h3>Links to 3rd party sites</h3>	
		<h2>Deals</h2>
			<h3>1. how it works</h3>
			<h3>2. the voucher</h3>
			<h3>3. expiration dates</h3>
			<h3>4. deal specific terms</h3>
			<h3>5. global terms</h3>
			<h3>6. merchant responsibility</h3>
			<h3>7. promotions of the deal program</h3>
			<h3>8. products available for sale</h3>
			<h3>9. refunds</h3>
		<h2>Terminations</h2>
		<h2>Disclaimers of Warranty</h2>
		<h2>Limitations of Liability</h2>
		<h2>Indemnity</h2>
		<h2>Reservations of Rights and Release</h2>
		<h2>Intellectual Property</h2>
		<h2>Copyright Notice</h2>
		<h2>Electronic Communications</h2>
		<h2>Entire Agreement, Changes to this Agreement and Waivers</h2>
		<h2>Contracting Party, Choice of Law, Location for Resolving Disputes, Contact Information</h2>
		<h2>General Terms</h2>
    </p>

	
